<div class="card2 card border-0 px-4 py-5">

    <div class="row mb-1 px-3" style="margin-left: -30px;">
        <h1 class="mb-0 mr-4 mt-2">Create Personal Password</h1>
    </div>

    <div class="row px-3 mb-4" style="margin-left: -30px;">
        <p style="color: #646566;">To make a workspace from scratch, please confirm your email address.</p>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="submit()">

        <div class="row px-3 mt-4"> 

            <div class="col-md-6">
                <label class="mb-1">
                <p class="mb-0" style="color: #abacad; margin: -10px;">First Name</p>
                </label> <input formControlName="firstName" style="margin-left: -10px;" class="mb-4" type="text" name="email" placeholder="John"> 
            </div>
    
            <div class="col-md-6">
                <label class="mb-1">
                <p class="mb-0" style="color: #abacad; margin: -10px;">Last Name</p>
                </label> <input formControlName="lastName" class="mb-4" style="margin-left: -10px;" type="text" name="email" placeholder="Smith"> 
            </div>
            
        </div>
    
        <div class="row px-3 mt-4"> 
    
            <label class="mb-1">
                <p class="mb-0" style="color: #abacad; margin: -10px;">Password</p>
            </label> <input formControlName="password" class="mb-4" type="password" name="email" placeholder="Enter your password"> 
    
        </div>
        
       
        <div class="row mb-3 px-3 mt-3"> <button type="submit" [ngClass]="{'disabled': passwordForm.valid !== true}" class="btn btn-blue text-center">Complete</button> </div>
        

    </form>
    
</div>