.box {
    height: 3.40rem;
    background-color: rgb(17, 60, 80);

}

.box2 {
    height: 2.0rem;
    background-color: #3ebc4b;
    text-align: center;
    // margin: 2px;
    margin-right: 16px;
    margin-left: 16px;
}