<div style="overflow: hidden;">
    <div class="box">
        <div class="row">
            <div class="col-md-10 mt-3">
                <h5 class="text-center" style="color: rgb(50, 148, 21);">SA-INTRANET</h5>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
    <div class="row box2 mt-2 shadow-sm">

        <div class="col-md-12 mt-1">
            <span class="text-white"><nb-icon icon="volume-down-outline"></nb-icon><span style="margin-left: 5px;">Annoucement</span></span>
        </div>
        
    </div>
    <div class="row box2 mt-2 shadow-sm" (click)="logout()">
        <div class="col-md-12 mt-1">
            <span class="text-white"><nb-icon icon="arrow-back-outline"></nb-icon><span style="margin-left: 5px;">Logout</span></span>
        </div>
    </div>
</div>