<nb-layout>
  <!-- <nb-layout-header fixed *ngIf="!userIsAuthenticated"> -->
  <nb-layout-header fixed *ngIf="!userIsAuthenticated" style="height: 5.4rem;">
    <h4 class="text-success float-left" style="margin-top: 10px;">SA-INTRANET</h4>
    <p style="margin-left: 70%;" class="text-success">Login</p>
    <p style="margin-left: 40px;" class="text-disabled">support@squashapps.com</p>
  </nb-layout-header>

  <nb-layout-column style="overflow: hidden;" [ngStyle]="{'background': userIsAuthenticated ? 'whitesmoke' : 'white'}">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>