// .nb-theme-default nb-card-header {
//     padding: 0.5rem 0.5rem !important;
//     border-bottom: 1px solid #edf1f7;
//     border-top-left-radius: 0.25rem;
//     border-top-right-radius: 0.25rem;
//     color: #222b45;
//     font-family: Open Sans, sans-serif;
//     font-size: 0.9375rem;
//     font-weight: 600;
//     line-height: 1.5rem
// }

// .nb-theme-default nb-user.size-large .user-name {
//     font-size: 0.9375rem !important;
//     line-height: 1.25rem !important;
//     display: none !important;
// }

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0.1px;
    opacity: 0.1;
    height: 0.1px;
}