<div>
    <div class="border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> 
                        <!-- <img src="https://i.imgur.com/CXQmsmF.png" class="logo">  -->
                        <h6 class="logo"></h6>
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> 
                        <img  *ngIf="validation" src="assets/img/background.png" class="image"> 
                        <img  *ngIf="!validation" src="assets/img/404.png" class="image"> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <app-confirmation-email *ngIf="emailForm && validation" (sendToParent) ="getEmailID($event)"></app-confirmation-email>
                <app-verification-code *ngIf="otpForm && validation" (sendToParent) ="getOTP($event)"></app-verification-code>
                <app-not-fount *ngIf="!validation"></app-not-fount>
            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div> -->
    </div>
</div>





